@keyframes ease-in-from-above {
    0% {
        transform: translateY(-20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes card-in {
    0% {
        transform: scale(70%);
        opacity: 0;
    }
    100% {
        transform: scale(100%);
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        display: none;
        opacity: 0;
    }
}

@keyframes scale-hover {
    0% {
        transform: scale(100%);
    }
    100% {
        transform: scale(120%);
    }
}

@keyframes scale-not-hover {
    0% {
        transform: scale(120%);
    }
    100% {
        transform: scale(100%);
    }
}