/* html, body, main {
    height: 100%;
} */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
}

body, header, h1, h2, h3, h5, ul {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

html {
/* h1, h2, h3, p, label, thead, td, input[type="button"], input[type="submit"] { */
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input, p, a {
    font-size: 24px;
    width: 100%;
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

main {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 70px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 4rem;
    border: 3px solid #9f9f9f;
    border-radius: 20px;
    padding: 20px;
    width: 80%;
    max-width: 400px;
}

.no-label > label {
    display: none;
}

fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 0;
}

fieldset input {
    padding: 24px;
    border: 3px solid #9f9f9f;
    border-radius: 20px;
    margin-bottom: 10px;
}

input[type=submit] {
    background-color: #427BFF;
    padding: 24px;
    color: white;
    border: none;
    border-radius: 8px;
}

input[type=submit], input[type=button] {
    cursor: pointer;
}

nav {
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 63px;
    border-bottom: 3px solid #9f9f9f;
    width: 100%;
    text-align: center;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 63px;
    border-top: 3px solid #9f9f9f;
    width: 100%;
}

figcaption {
    display: none;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

body > footer {
    position: fixed;
    bottom: 0;
    z-index: 2;
    background-color: white;
    width: 100%;
}

body > nav {
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: white;
    width: 100%;
}

main > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    max-width: 400px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    width: 95%;
    min-height: 40vh;
    box-shadow: 0px 0px 10px 1px #888888;
    border: 2px solid white;
    border-radius: 12px;
    cursor: pointer;
    animation: card-in;
    animation-duration: .5s;
    animation-timing-function: ease-in-out;
}

article > section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

article aside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 100%;
}

article aside > section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid #9f9f9f;
    border-radius: 12px;
    margin: 0;
    padding: 5px;
    padding-right: 10px;
    width: 90px;
}

article aside > section > figure {
    margin: 0;
    margin-top: 2px;
}

article img {
    width: 200px;
    height: auto;
}

article > footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

article > footer > section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 12px;
    width: 100px;
}

article > footer > section > h2:first-child {
    margin-left: 10px;
}

article > footer > section > h2:last-child {
    margin-right: 10px;
}

article > section > figure {
    margin: auto;
}

article > section > aside {
    margin-right: 15px;
    text-align: right;
}

table {
    margin: 5px;
    width: 100%;
}

table td, table th{
    border: 1px solid #000;
    padding: 5px;
}

table > thead {
    text-align: center;
    font-weight: bold;
}

table tr {
    text-align: center;
}

.error {
    color: red;
}

aside.wallet, aside.cart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 3px solid #9f9f9f;
    border-radius: 20px;
    max-width: 400px;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
}

aside.wallet > h1, aside.wallet > input[type="number"] {
    width: auto;
}

main > div > section > form > section {
    display: flex;
    flex-direction: row;
    width: 100%;
}

main > div > section > form > label {
    display: block;
}

main > div > section > form > section > input[type="button"]:last-child {
    margin-left: 10px;
}

.fade-out {
    animation: fade-out;
    animation-duration: .2s;
    animation-timing-function: ease-out;
}

.primaryButton {
    color: white;
    background-color: #A219D4;
    border: solid #A219D4;
    border-radius: 25px;
}

section.filters {
    align-items: flex-start;
    margin-bottom: 15px;
}

section.filters > section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

section.filters > section > section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

section.filters > section > section > h2, section.filters > section > section > input {
    margin-left: 5px;
    margin-right: 5px;
}

section.filters > section > section > input[type="number"] {
    border: 1px solid #9f9f9f;
    border-radius: 10px;
    width: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}

section.filters > section:nth-child(2) > section > input[type="number"] {
    width: 120px;
    text-align: right;
    padding-right: 10px;
}

section.filters > section > h3 {
    margin-right: 10px;
}

section.notification {
    background-color: #d9d9d9;
    display: flex;
    flex-direction: row;
    padding: 15px;
    margin-bottom: 10px;
    justify-content: space-between;
}

section.notification > section:first-child > h2 {
    margin-bottom: 10px;
}

section.notification > section:last-child > section {
    display: flex;
    flex-direction: row;
}

section.notification > section:last-child > section {
    display: flex;
    flex-direction: row;
}

section.notification > section:last-child > figure {
    cursor: pointer;
}

section.viewed {
    opacity: 0.5;
}

input[type="checkbox"] {
    cursor: pointer;
}

.scale-on-hover {
    transition: transform .1s ease-in-out;
}

.scale-on-hover:hover {
    transform: scale(120%);
}

.scale-on-hover:not(:hover) {
    transform: scale(100%);
}

@media screen and (min-width:768px) {
    aside.wallet, aside.cart {
        position: fixed;
        background-color: white;
        right: 1rem;
    }

    aside.wallet {
        width: 250px;
    }

    aside.cart {
        width: 350px;
    }

    section.orders {
        margin-right: 300px;
    }
}

/*pagina venditore 
Author: Lucas*/

.addNewItem{
    text-align: center;
}
.addNewItem>button{
    padding: 7px;
}

.product{
    margin: 14px auto;
    width: 400px;
    overflow: hidden;
    border: 2px solid gray;
    border-radius: 7px;
}
.product_child-1{
    display: flex;
    justify-content: center;
    padding: 14px;
}
.product_child-1 > h3{
    margin: auto;
}
.product_child-1 > button{
    min-width: 30px;
    height: 30px;
    padding: 0 7px;  
}


.product_child-2{
    display: flex;
    padding: 14px;
    
}
.product_child-2 > div {
    width: 50%;
}

.product_child-2_div-1 img{
  width: 100%;  
    
}
.product_child-2_div-2 h3, .product_child-2_div-2 h4{
    text-align: right;
}
.product_child-3{
    text-align: center;
    padding: 14px;
}

section.modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(255,255,255,0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

section.show {
    display: flex;
}

section.show > form {
    transform: translateY(0%);
    animation-name: ease-in-from-above;
    animation-duration: .4s;
    animation-timing-function: ease-out;
}

section.modal form{
    margin: auto;
    background-color: white;
    display: flex;
    gap: 14px;
}